.content-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.bulaContainer {
    padding-bottom: 1rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    text-shadow: #000 1px 0 3px;
}

app-navbar {
    margin-left: 1rem;
}