.container {
    position: fixed;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 15rem;
    height: fit-content;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: hidden;
    padding: 1rem;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

ul {
    margin-top: 2rem;
}

li {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    list-style: none;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

li:hover {
    color: #F7C300;
    transition: 0.1s ease-in-out;
}