<div class="container">
    <div class="semi-circle"></div>
    <img  class='logo' src="/assets/bula.svg" alt="Bula-logo"/>

    <h1>{{formType}}</h1>

    <form (ngSubmit)="authenticationRequest()">
        <label for="username">Username:</label>
        <input type="text" name="username" minlength="2" maxlength="15" [(ngModel)]="username">

        <label for="password">Password:</label>
        <input type="password" name="password" [(ngModel)]="password">

        <label for="confirm-password" *ngIf="formType == 'Sign up'">Confirm password:</label>
        <input type="password" name="confirm-password" maxlength="30" *ngIf="formType == 'Sign up'" [(ngModel)]="confirm_password">

        <button type="submit">{{formType}}</button>
    </form>

    <p> or
        <br>
        <a class="auth" *ngIf="formType == 'Sign in'" routerLink="/register">Sign up</a>
        <a class="auth" *ngIf="formType == 'Sign up'" routerLink="/login">Sign in</a>
    </p>
</div>