<div class="container">
    <div class="semi-circle"></div>
    <img  class='logo' src="/assets/bula.svg" alt="Bula-logo"/>

    <h1>{{formType}}</h1>

    <form (ngSubmit)="authenticationRequest()">
        <label for="username">Username:</label>
        <input type="text" name="username" maxlength="20" autocomplete="off" [(ngModel)]="username" (input)="error=''">

        <label for="password">Password:</label>
        <input type="password" name="password" maxlength="30" [(ngModel)]="password" (input)="error=''">

        <label for="confirm-password" *ngIf="formType == 'Sign up'">Confirm password:</label>
        <input type="password" name="confirm-password" maxlength="30" *ngIf="formType == 'Sign up'" [(ngModel)]="confirm_password" (input)="error=''">

        <p class="error">{{error}}</p>

        <button type="submit">{{formType}}</button>
    </form>

    <p class="auth-options"> or
        <br>
        <a class="auth" *ngIf="formType == 'Sign in'" routerLink="/register">Sign up</a>
        <a class="auth" *ngIf="formType == 'Sign up'" routerLink="/login">Sign in</a>
    </p>
</div>