<div class="container">
    <app-navbar></app-navbar>
    <div class="content">
        <h1>Research</h1>
        <input 
            type="text" 
            class="searchBox" 
            placeholder="Searched text..." 
            (input)="onTextChanged($event)" 
            autofocus>
    </div>
    <div class="result">
        <h2 *ngIf="users.length == 0 && bulas.length == 0">No results</h2>
        <div class="users" *ngIf="users.length != 0">
            <h2>USERS</h2>
            <hr>
            <ul>
                <li
                    *ngFor="let user of users"
                    class="clickable"
                    (click)="onUserClicked(user)"
                    >
                    @{{user}}
                </li>
            </ul>
        </div>
        <div class="bulas" *ngIf="bulas.length != 0">
            <h2>BULAS</h2>
            <hr>
            <ul>
                <li *ngFor="let bula of bulas">
                    <app-bula [bula]="bula"></app-bula>
                </li>
            </ul>
        </div>
    </div>
</div>