<div class="container">
    <div class="topSection">
        <p class="bulaText" appBulaContentFormatter [bulaText]="bula.text"></p>
    </div>
    <div class="bottomSection">
        <div class="bulaInfos">
            <div class="user">
                <img  class='image bulaImg' src="/assets/bula.svg" alt="Bula-logo"/>
                <p class="clickable authorText prevent-select">{{bula.author}}</p>
            </div>
            <p class="clickable meowsText prevent-select" (click)="openBulaPanel('Meows')"><span class="meowsNumber">{{bula.meows.length}}</span> meows</p>
            <p class="clickable rebulaText prevent-select" (click)="openBulaPanel('Rebulas')"><span class="rebulasNumber">{{bula.rebulas.length}}</span> rebulas</p>
        </div>
        <div  class="date">
            <p>{{bula.date.substring(0, bula.date.length-3)}}</p>
        </div>
        <div class="actionBtns">
            <img  
                class='clickable image meowImg' 
                (click)="onMeowBtnClicked()" 
                src="/assets/bula/meow.svg" 
                alt="Meow-logo"
                [ngClass]="isBulaMeowed ? 'bulaMeowed' : 'bulaUnmeowed'"
                />
            <img  
                class='clickable image rebulaImg' 
                (click)="onRebulaBtnClicked()"
                src="/assets/bula/rebula.svg" 
                alt="Rebula-logo"
                [ngClass]="isBulaRebuled ? 'bulaRebuled' : 'bulaUnrebuled'"
                />
        </div>
    </div>
    <app-bula-panel 
        *ngIf="this.isBulaPanelOpen"
        [bula]="this.bula"
        [type]="this.bulaPanelType"
        (closeComponent)="this.isBulaPanelOpen = false"
    ></app-bula-panel>
</div>