<div class="container">
    <div class="topSection">
        <p class="bulaText" appBulaContentFormatter [bulaText]="bula.text"></p>
    </div>
    <div class="bottomSection">
        <div class="bulaInfos">
            <div class="user">
                <img  class='image bulaImg' src="/assets/bula.svg" alt="Bula-logo"/>
                <p class="clickable authorText">{{bula.author}}</p>
            </div>
            <p class="clickable meowsText"><span class="meowsNumber">{{bula.meows}}</span> meows</p>
            <p class="clickable rebulaText"><span class="rebulasNumber">{{bula.rebulas}}</span> rebulas</p>
        </div>
        <div class="actionBtns">
            <img  
                class='clickable image meowImg' 
                (click)="onMeow()" 
                src="/assets/bula/meow.svg" 
                alt="Meow-logo"
                [ngClass]="isBulaMeowed ? 'bulaMeowed' : ''"
                />
            <img  
                class='clickable image rebulaImg' 
                (click)="onRebula()"
                src="/assets/bula/rebula.svg" 
                alt="Rebula-logo"
                [ngClass]="isBulaRebuled ? 'bulaRebuled' : ''"
                />
        </div>
    </div>
</div>