<div class="background">
    <div class="container">
        <img src="/assets/bula.svg" />
        <textarea 
            autosize
            placeholder="Write your bula here..."
            maxlength="280"
            (input)="checkText($event)"
            [(ngModel)]="bulaText">
        </textarea>
        <div class="buttons-container">
            <button (click)="closeComponentCreateBula()">Cancel</button>
            <button (click)="bula()">Bula</button>
        </div>
    </div>
</div>
