 <div class="background">
    <div class="container">
        <h1>Topics</h1>
        <button class="close" (click)="closeComponentTopics()"><img class="close-logo" src="/assets/close.svg" /></button>
        <ul>
            <li *ngFor="let topic of topics">
                <span class="topic-name prevent-select" (click)="onClickTopic(topic['hashtag'])">{{topic['hashtag']}}</span>
                <span class="topic-number">({{topic['number']}} bulas)</span>
            </li>
        </ul>
    </div>
</div>