<div class="background">
    <div class="container">
        <img class="bula-logo" src="/assets/bula.svg" />
        <button class="close" (click)="closeComponentCreateBula()"><img class="close-logo" src="/assets/close.svg" /></button>
        <textarea 
            autosize
            placeholder="Write your bula here..."
            maxlength="280"
            (input)="checkText($event)"
            [(ngModel)]="bulaText">
        </textarea>
        <p class="limit-char">{{nbCharacters}}/280 characters.</p>
        <button class="bula" (click)="bula()">Bula</button>
    </div>
</div>