@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', serif, 'Times New Roman', Times, serif;
    color: #fff;
}

button {
    font-family: 'Roboto', serif, 'Times New Roman', Times, serif;
    color: #fff;
}

input {
    font-family: 'Roboto', serif, 'Times New Roman', Times, serif;
    color: #fff;
}

@media (max-width: 800px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 45%;
    }
}