@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #F7C300 #444;
}

*::-webkit-scrollbar {
    width: 8px; 
  }
  
*::-webkit-scrollbar-track {
    background: #111;
}

*::-webkit-scrollbar-thumb {
    background-color: #F7C300; 
    border-radius: 20px; 
    border: 1.5px solid #F56800; 
}

body {
    font-family: 'Roboto', serif, 'Times New Roman', Times, serif;
    color: #fff;
    overflow-x: hidden;
}

button {
    font-family: 'Roboto', serif, 'Times New Roman', Times, serif;
    color: #fff;
}

input {
    font-family: 'Roboto', serif, 'Times New Roman', Times, serif;
    color: #fff;
}

@media (-webkit-device-pixel-ratio: 1.1) { 
    html {
        font-size: 90.9%;
    }
 }

 @media (-webkit-device-pixel-ratio: 1.25) { 
    html {
        font-size: 80%;
    }
 }

 @media (max-width: 800px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 45%;
    }
}