.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 10rem;
  font-size: 48px;
  font-weight: bold;
  position: relative;
  perspective: 800px;
  transition: transform 0.5s;
  border: 1px solid red;
  color: black;
}

.box.current {
  position: absolute;
  z-index: 1;
  background-color: blanchedalmond;
}

.box.next {}

.box:hover {
  transform: scale(1.1);
}